<div class="{{ css_classes }}">
    <div class="poster-callout">
        <video loop autoplay="autoplay" autoplay muted>
            <source src="{{ object.background_video.file.url }}" type="video/mp4">
            <source src="{{ object.background_video.file.url }}" type="video/ogg">
            <source src="{{ object.background_video.file.url }}" type="video/WebM">
            Your browser does not support video.
        </video>
        <div class="poster-callout-content">
            {{ object.content|safe }}
        </div>
    </div>
</div>
