@import "normalize.less";
@import (inline) "selectric.css";
@import (inline) "cartodb.css";

@font-face {
    font-family: 'Pimpernel';
    src: url('../fonts/pimpernel.eot');
    src: url('../fonts/pimpernel.eot?#iefix') format('embedded-opentype'),
        url('../fonts/pimpernel.woff2') format('woff2'),
        url('../fonts/pimpernel.woff') format('woff'),
        url('../fonts/pimpernel.ttf') format('truetype');
    }

@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?173rwh');
    src:    url('../fonts/icomoon.eot?173rwh#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?173rwh') format('truetype'),
        url('../fonts/icomoon.woff?173rwh') format('woff'),
        url('../fonts/icomoon.svg?173rwh#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@responsive-xl: 1180px;
@responsive-lg: 980px;
@responsive-md: 800px;
@responsive-sm: 570px;
@responsive-xs: 420px;

@dark: #3a3a3a;
@line: #d0d1c6;
@light-grey: #ebebe6;
@red: #e33f31;
@blue: #338ad1;
@purple: #8769c0;
@dark-green: #15b18d;
@green: #25c361;
@yellow: #f2a930;

body {
    margin: 0;
    font-family: 'Open sans', sans-serif;
    color: #3a3a3a;
    @media all and (max-width: @responsive-xl) {
        font-size: 0.9em;
    }
    &.modal-open {
        overflow: hidden;
        padding-right: 15px !important;
    }
}

h1 { font-size: 2.5em; }
h2 { font-size: 2.125em; }
h3 { font-size: 1.75em; }
p { line-height: 1.5; }

@media all and (max-width: @responsive-xs) {
    h1 { font-size: 1.75em; }
}

.absolute-center {
    position: absolute;
    top: 50%; left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
}

.hidden {
    display: none;
}

.clear-fix { clear: both; }

.pull-left { float: left; }
.pull-right { float: right; }

.text-align-center { text-align: center; }

.remove-list-style {
    list-style: none;
    padding: 0;
    margin: 0;
}

.column-25, .column-50, .column-75 {
    position: relative;
}
.column-25 { width: 25%; }
.column-50 { width: 50%; }
.column-75 { width: 75%; }

.btn, .donate-button, .modal .button, .glitter_page_blocktype_calltoactionblock a {
    display: inline-block;
    padding: 0.6em 1.5em;
    border-radius: 0.25em;
    font-size: 1.75em;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    .bg-with-hover(@red);
    &.small { font-size: 1.125em; padding: 1em; }
    @media all and (max-width: @responsive-sm) {
        font-size: 1.125em;
    }
}

input:not([type="checkbox"]), textarea, .glitter_page_blocktype_contactformblock button[type="submit"] {
    appearance: none;
    font-family: 'Open sans', sans-serif;
    border: none;
    box-sizing: border-box;
    padding: 0.5em 1em;
    font-size: 1.25em;
    border-radius: 0.25em;
    border: 2px solid @line;
    resize: vertical;
    &:focus { outline: none; }
    &::-webkit-input-placeholder {
        color: @dark;
    }
}

textarea { width: 100%; }

input[type="submit"], .glitter_page_blocktype_contactformblock button[type="submit"] {
    background: @red;
    color: #fff;
    border: none;
    &:hover {
        cursor: pointer;
        background: lighten(@red, 10%);
    }
}

.glitter_page_blocktype_contactformblock button[type="submit"] {
    font-weight: bold;
}

.bg-img {
    .absolute-center;
    z-index: -200;
    min-height: 100%;
    min-width: 100%;
    width: auto !important;
    height: auto !important;
}

.bg-with-hover(@c) {
    background: @c;
    &:hover { background: lighten(@c, 5%); }
}

.social-icons {
    .remove-list-style;
    display: inline-block;
    li {
        display: inline-block;
        float: left;
        &:first-of-type a {
            border-top-left-radius: 0.25em;
            border-bottom-left-radius: 0.25em;
        }
        &:last-of-type a {
            border-top-right-radius: 0.25em;
            border-bottom-right-radius: 0.25em;
        }
        &:not(:first-of-type) {
            border-left: 2px solid @line;
        }
    }
    a {
        text-decoration: none;
        font-size: 1.75em;
        font-weight: normal;
        display: block;
        height: 40px;
        width: 60px;
        display: table-cell;
        vertical-align: middle;
        &:after {
            .icon;
            color: @dark;
        }
        &:hover:after { color: @red; }
    }
    a.facebook {
        &:after { content: "\e900"; }
    }
    a.twitter {
        &:after { content: "\e902"; }
    }
    a.instagram {
        &:after { content: "\e903"; }
    }
    a.linkedin {
        &:after { content: "\e904"; }
    }
    a.youtube {
        &:after { content: "\e905"; }
    }
    @media all and (max-width: @responsive-xs) {
        a { height: 30px; width: 50px; }
    }
}

.subscription-block {
    text-align: center;
    vertical-align: top;
    padding: 1.5em 0;
    overflow: hidden;
    h3 { margin: 0.75em; }
    h3, input { display: inline-block; vertical-align: middle; }
    input {
        height: 60px;
        margin-left: 0.5em;
        &[type="email"] {
            width: 12em;
        }
        &[type="submit"] {
            border: none;
            font-weight: bold;
        }
    }
    #minimised-form {
        display: inline-block;
        input {
            width: 6em;
        }
        @media all and (max-width: 680px) {
            width: 100%;
            margin-bottom: 1em;
            input {
                width: calc(50% ~"-" 0.5em);
                margin-left: 0;
                &:last-of-type { margin-left: 0.5em; }
            }
        }
    }
    .hidden { display: none !important; }
    @media all and (max-width: @responsive-xl) {
        padding-bottom: 2.5em;
        h3 {
            width: calc(100% ~"-" 1.5em);
            margin-top: 0.25em;
        }
    }
    @media all and (max-width: @responsive-lg) {
        margin-bottom: 2em;
        padding-bottom: 1.5em;
        h3 {
            width: 100%;
            display: block;
            margin: 0.75em 0;
        }
        input[type="email"] {
            margin-left: 0.5em;
        }
    }
    @media all and (max-width: 680px) {
        input {
            height: 60px;
            margin-left: 0.5em;
            &[type="email"] {
                width: calc(100% ~"-" 11em);
                margin-left: 0;
            }
            &[type="submit"] { width: 10em; }
        }
    }
    @media all and (max-width: @responsive-xs) {
        #minimised-form { margin-bottom: 0; }
        input {
            width: 100% !important;
            margin: 0.5em 0 0 0 !important;
        }
    }
}


//////////////////////    NAVIGATION        /////////////////////

.head {
    overflow: hidden;
    padding: 2.75em 2em 0 2em;
    position: relative;
    background: #fff;
    .primary {
        width: calc(100% ~"-" 5.5em);
        box-sizing: border-box;
        padding-right: 0em;
        font-size: 1.125em;
        font-weight: bold;
        margin-bottom: 2em;
        overflow: hidden;
        ul {
            .remove-list-style;
            display: inline-block;
            float: right;
            li {
                display: inline-block;
                &.active a, &:hover a { color: @blue; }
                &:not(:first-of-type) {
                    border-left: 2px solid @light-grey;
                }
            }
            a {
                display: block;
                padding: 0.75em;
                text-decoration: none;
                color: @dark;
            }
        }
    }
    .mobile { display: none; }
    .logo {
        height: 5.625em;
        width: 14.375em;
        position: absolute;
        top: 1.425em; left: 1.5em;
        background: url(../img/logo.png) center center/100% no-repeat;
        @media all and (max-width: @responsive-xs) {
            height: 4em;
            width: 9em;
        }
    }
    .btn {
        font-size: 1.125em;
        padding: 0.75em 1em;
        font-weight: normal;
        position: absolute;
        right: 1.5em;
        top: 2.475em;
    }
    @media all and (max-width: 1040px) and (min-width: (@responsive-md + 1)) {
        .btn { right: 3.175em; }
        .primary {
            padding-right: 1.5em;
            text-align: right;
            margin-bottom: 2.75em;
            li { float: none; }
        }

        label[for='primary-nav'] { display: block; span { display: none; } }
        .primary li:nth-last-of-type(1) {
            display: none;
        }
        #primary-nav:checked {
            ~ .primary {
                margin-bottom: 0;
                overflow: visible;
            }
            ~ .primary li:nth-last-of-type(1) {
                width: 100vw;
                margin: 2.75em -8.8em 0 4.0875em;
                clear: both;
                display: block;
                position: relative;
                .bg-with-hover(@blue);
                a { color: #fff }
            }
        }
    }
    @media all and (max-width: 964px) and (min-width: (@responsive-md + 1)) {
        .primary li:nth-last-of-type(1),
        .primary li:nth-last-of-type(2) {
            display: none;
        }
        #primary-nav:checked ~ .primary li:nth-last-of-type(1),
        #primary-nav:checked ~ .primary li:nth-last-of-type(2) {
            width: 100vw;
            margin: 0 -8.8em 0 4.0875em;
            clear: both;
            display: block;
            position: relative;
            .bg-with-hover(@blue);
            a { color: #fff }
        }
        #primary-nav:checked ~ .primary li:nth-last-of-type(2) {
            margin-top: 2.75em;
            border-bottom: 1px solid lighten(@blue, 5%);
        }
    }
    @media all and (max-width: @responsive-md) {
        padding-bottom: 0;
        .primary { display: none; }
        label[for='primary-nav'] span {
            display: inline-block;
            font-weight: bold;
        }
        .mobile {
            overflow: hidden;
            clear: both;
            width: calc(100% ~"+" 4em);
            margin-left: -2em;
            font-weight: bold;
            font-size: 1.125em;
            ul {
                .remove-list-style;
                &.level-1 {
                    li {
                        a {
                            background: @dark;
                            &:hover {
                                background: lighten(@dark,10%);
                            }
                        }
                        &.active a { background: lighten(@dark, 10%); }
                        &:not(:first-of-type) {
                            border-top: 1px solid lighten(@dark, 10%);
                        }
                    }
                }
                li {
                    width: 100%;
                    a {
                        display: block;
                        padding: 0.75em 20px;
                        text-decoration: none;
                        background: @blue;
                        color: #fff;
                        &:hover {
                            background: lighten(@blue,5%);
                        }
                    }
                    &.active a { background: lighten(@blue,10%); }
                    &:not(:first-of-type) {
                        border-top: 1px solid lighten(@blue, 10%);
                    }
                }
            }
        }
        label[for='primary-nav'] { top: 2.75em; }
        #primary-nav:checked ~ .mobile {
            display: block;
        }
        .logo {
            top: 2.25em;
            margin: -1.2em 0 1.875em -0.5em;
        }
        .btn {
            position: static;
            font-size: 1.125em;
            margin: -0.25em 3.325em 2.25em 0;
            padding: 0.75em 1em;
            font-weight: normal;
            float: right;
        }
        li {
            display: block;
            width: 100%;
        }
    }
    @media all and (max-width: @responsive-xs) {
        padding: 1em 1em 0;
        .mobile {
            width: calc(100% ~"+" 2em);
            margin-left: -1em;
        }
        .btn {
            margin: 0.65em 4.125em 1.625em;
        }
        label[for='primary-nav'] {
            top: 2em;
        }
    }
}

.secondary ul {
    .remove-list-style;
    background: @dark;
    font-size: 1.125em;
    font-weight: bold;
    clear: both;
    padding: 0.75em;
    text-align: center;
    li {
        display: inline-block;
        a {
            text-decoration: none;
            color: #fff;
            padding: 0 0.5em;
            &.active, &:hover {
                color: @blue;
            }
        }
        &:not(:first-of-type) {
            border-left: 2px solid darken(@dark,10%);
        }
    }
    @media all and (max-width: @responsive-md) {
        padding: 0;
        li {
            display: block;
            .bg-with-hover(@dark);
            &:not(:first-of-type) {
                border-left: none;
                border-top: 1px solid lighten(@dark, 10%);
            }
            a {
                display: block;
                padding: 0.75em 0;
            }
        }
    }
}
@media all and (max-width: @responsive-md) {
    .secondary.menu-open { display: none; }
}

label[for='primary-nav'] {
    display: block;
    position: absolute;
    top: 3em; right: 0.675em;
    cursor: pointer;
    display: none;
    &:before {
        content: '⋮';
        display: inline-block;
        width: 31px;
        height: 31px;
        line-height: 31px;
        text-align: center;
        transition: all 0.15s ease;
        font-size: 1.25em;
        font-weight: bold;
    }
}

#primary-nav:checked + label[for='primary-nav'] {
    &:before {
        transform: rotate(-90deg);
        transition: all 0.15s ease;
    }
}

@media all and (max-width:1040px) {
    .head label {
        display: block;
        float: right;
    }
}


#glitter_column_footer {
    background: @light-grey;
    margin-top: 0;
    box-shadow: 0px 200vh 0px 200vh @light-grey;
}

//////////////////////    TEMPLATE BLOCKS        /////////////////////

.intro, .content {
    width: 42.5em;
    margin: auto;
    body.single-col & {
        @media all and (max-width: 43.75em) {
            width: 100%;
            box-sizing: border-box;
            padding: 0 1.25em;
        }
    }
}

#glitter_column_content, #glitter_column_intro {
    > :first-child {
        margin-top: 4em;
    }
}

body.two-col & {
    .page-wrapper {
        overflow: hidden;
        max-width: 85em;
        margin: auto;
    }
    .content-col {
        width: calc(100% ~"-" 28em);
        float: left;
        box-sizing: border-box;
        padding: 0 5em;
    }
    .side-col {
        width: 28em;
        float: right;
    }
    @media all and (max-width: @responsive-xl) {
        .content-col {
            width: 42.5em;
            padding: 0 20px;
            margin: auto;
            float: none;
        }
        .side-col {
            width: 100%;
            margin-top: 4em;
        }
    }
    @media all and (max-width: 43.75em) {
        .content-col {
            width: 100%;
            box-sizing: border-box;
        }
    }
}

//////////////////////    DJANGO BLOCKS        /////////////////////

.glitter_page_blocktype_redactor {
    margin: 3em 0 2em 0;
    font-size: 1.125em;
    h1,h2,h3,h4,h5 {
        line-height: 1.275;
    }
    h3, h5 { font-size: 1.55em; }
    h5 {
        color: @blue;
        margin: 0em;
        + p {
            margin: 0.25em 0 1.5em 0;
        }
    }
    a { color: @red; font-weight: bold; }
    ul {
        .remove-list-style;
        line-height: 1.5;
        li {
            margin-bottom: 1em;
            padding-left: 2em;
            position: relative;
            &:before {
                content: "";
                display: block;
                border-radius: 50%;
                height: 0.4em;
                width: 0.4em;
                position: absolute;
                left: 0.5em;
                top: 0.5em;
                background: @blue;
            }
        }
    }
    ol {
        .remove-list-style;
        position: relative;
        li {
            counter-increment: step-counter;
            &:before {
                content: counter(step-counter);
                color: @blue;
                display: inline;
            }
            h4 { display: inline-block; }
        }
    }
    @media all and (max-width: @responsive-xs) {
        font-size: 1em;
    }
}

.glitter_page_blocktype_blockquote {
    margin: 0;
    font-family: 'Pimpernel';
    color: #fff;
    font-size: 2.625em;
    text-align: center;
    box-sizing: border-box;
    padding: 0.762em;
    background: @blue;
    p:first-of-type {
        margin: 0.5em 0 0 0;
    }
    .citation {
        margin-top: 0;
        font-family: 'Open Sans', sans-serif;
        font-size: 0.429em;
    }
    @media all and (min-width: (@responsive-md + 1)) {
        body.single-col & {
            width: calc(100% ~"+" 4.571em);
            margin-left: -2.286em;
        }
    }
    &.red {background: @red; .citation { color: lighten(@red, 15%); }}
    &.blue {background: @blue; .citation { color: lighten(@blue, 15%); }}
    &.purple {background: @purple; .citation { color: lighten(@purple, 15%); }}
    &.dark-green {background: @dark-green; .citation { color: lighten(@dark-green, 15%); }}
    &.green {background: @green; .citation { color: lighten(@green, 15%); }}
    &.yellow {background: @yellow; .citation { color: lighten(@yellow, 15%); }}
}

blockquote {
    margin: 0;
    font-size: 2.325em;
    font-family: 'Pimpernel';
    + p { margin-top: 0; }
}

.glitter_page_blocktype_faq {
    font-size: 1.125em;
    padding: 1.5em 0;
    position: relative;
    p { margin-bottom: 0; }
    &:last-child { margin-bottom: 2em; }
    .hidden { margin-top: 1em; }
    .status {
        position: absolute;
        top: 1.75em;
        right: 0;
        &:after {
            .icon;
            content: '\e906';
            display: inline-block;
            background: @light-grey;
            border-radius: 0.25em;
            width: 30px;
            height: 30px;
            text-align: center;
            font-size: 1em;
            line-height: 1.925;
        }
    }
    + .glitter_page_blocktype_faq {
        border-top: 2px solid @light-grey;
    }
    @media all and (min-width: (@responsive-xl + 1)) {
        .status:after {
            line-height: 1.725;
        }
    }
    label {
        font-size: 1.55em;
        color: @blue;
        font-weight: bold;
        display: block;
        padding-right: 2em;
        &:hover { cursor: pointer; }
    }
    input[type=checkbox]:checked + .hidden {
        display: block;
        + .status:after { content: '\e911'; }
    }
    @media all and (min-width: (@responsive-lg + 1)) {
        li {
            width: calc(100% ~"+" 20px);
            box-sizing: border-box;
            margin-left: -20px;
            padding-left: 20px;
        }
    }
}

.glitter_page_blocktype_imageblock {
    position: relative;
    figure { margin: 0; }
    img {
        width: 100%;
        height: auto;
        vertical-align: top;
    }
    @media all and (min-width: (@responsive-md + 1)) {
        body.single-col & {
            width: calc(100% ~"+" 12em);
            margin-left: -6em;
        }
    }
    .image-banner-grid & {
        a:before {
            content: '';
            display: block;
            position: absolute;
            top: -1px; right: -1px; left: -1px; bottom: -1px;
            background: fade(#fff, 10%);
            z-index: 50;
            pointer-events: none;
            opacity: 0;
            transition: opacity 0.3s;

        }
        a:hover:before {
            opacity: 1;
        }
    }
}

.glitter_page_blocktype_calltoactionblock {
    margin: 4em 0;
    a {
        .btn;
        box-sizing: border-box;
        padding: 0.6em 0.25em;
        width: 100%;
        text-align: center;
    }
    @media all and (max-width: @responsive-xs) { margin: 2em; }
}

.glitter_page_blocktype_poster, .glitter_page_blocktype_videobanner {
    position: relative;
    overflow: hidden;
    .image-holder {
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        overflow: hidden;
        z-index: -200;
    }
    .poster-callout {
        margin: auto;
        font-weight: normal;
        color: #fff;
        margin: 7em auto 8em auto;
        a { color: inherit; }
        #glitter_column_billboard_top &, #glitter_column_footer, .image-banner-grid & {
            width: 80vw;
            max-width: 62em;
        }
        body.home & {
            margin: 10em auto 12em auto;
            @media all and (max-width: @responsive-xs) {
                margin: 5em auto 9em auto;
            }
        }
        body.page & {
            @media all and (min-width: (@responsive-md + 1)) {
                h1 {
                    font-size: 3.750em;
                }
            }
            @media all and (max-width: @responsive-sm) {
                h1 { font-size: 2em; }
            }
        }
        span {
            display: block;
            margin-top: 0.75em;
        }
    }
    h1 + h1 { margin-top: 0.75em; }
    h1,h2,h3,h4,h5 { margin: 0; line-height: 1.175; }
    h1 em {
        font-size: 1.35em;
        font-style: normal;
        del {
            color: @red;
            text-decoration: none;
        }
    }
    h3 { font-size: 2em; }
    @media all and (max-width: @responsive-xs) {
        h1 em { font-size: 1.125em; }
        .poster-callout {
            margin: 4em auto 5em auto;
        }
    }
}

.glitter_page_blocktype_signees {
    white-space: nowrap;
    overflow-x: hidden;
    padding: 0.75em 8em 0.75em 0;
    background: @blue;
    p {
        color: #fff;
        margin: 0;
        padding: 0 1em;
        border-right: 2px solid #444;
        display: inline-block;
        background: @blue;
        position: relative;
        z-index: 10;
    }
    .signee-marquee {
        .remove-list-style;
        display: inline-block;
        white-space: nowrap;
        animation: marquee 25s linear infinite forwards;
        li {
            display: inline-block;
            color: #fff;
            padding: 0 1.5em;
        }
    }
}

.jumbotron {
    position: relative;
    .donation-panel {
        position: absolute;
        bottom: 0;
        left: 50%; bottom: -5em;
        transform: translate(-50%, -65%);
        -ms-transform: translate(-50%, -65%);
        width: 25em;
        z-index: 200;
        text-align: center;
        color: #fff;
        h3 {
            height: 2.5em;
            background: @red;
            border-radius: 0.25em;
            box-sizing: border-box;
            margin: 0;
            font-weight: bold;
        }
        a {
            width: 100%;
            height: 1.87em;
            text-decoration: none;
            color: #fff;
            padding-top: 0.6em;
            display: inline-block;
            background: none;
            font-size: 1em;
            font-weight: bold;
        }
        @media all and (max-width: @responsive-xs) {
            width: 100%;
            h3 { border-radius: 0; }
            ul li {
                &:first-of-type { border-radius: 0; }
                &:last-of-type { border-radius: 0; }
            }
        }
    }
}

.tab-pane {
    display: none;
    &.active { display: block; }
}

.type-selector {
    overflow: hidden;
    border-top: 2px solid @line;
    border-bottom: 2px solid @line;
    .remove-list-style;
    li {
        &:first-of-type a { border-right: 2px solid @line; }
        &.active a { color: @blue; }
    }
    a {
        display: inline-block;
        width: 50%;
        float: left;
        box-sizing: border-box;
        padding: 0.25em 1em;
        margin: 0.5em 0;
        text-decoration: none;
        color: @dark;
        text-align: center;
        font-weight: bold;
    }
}

.form, .glitter_page_blocktype_contactformblock {
    background: @light-grey;
    font-size: 1.125em;
    padding: 3em 1em 2em 1em;
    fieldset {
        border: none;
    }
    h3 {
        font-size: 1.55em;
        &:first-of-type { margin: 0 0 0.5em 0.5em; }
    }
    label, input { width: 100%; }
    label {
        display: block;
        margin: 0.75em 0 0.25em 0.778em;
        font-weight: bold;
        &:last-of-type { margin-top: 0.85em; }
        &.required:after {
            content: "*";
            color: @blue;
            margin-left: 0.25em;
        }
        &[for=mce-OPTOUT] {
            margin-left: 0;
            width: calc(100% ~"-" 25px);
            float: right;
            font-weight: normal;
        }
    }
    .selectric {
        .label { margin-left: 14px; }
        p {
            font-size: 1em;
            font-family: 'Open sans', sans-serif;
        }
    }
    .selectric-open, .selectric-hover {
        .selectric {
            background: #fff;
            border-color: @line;
        }
    }
    .selectric-open {
        .selectric {
            border-radius: 0;
        }
    }
    .selectric-items {
        width: calc(100% ~"-" 2px) !important;
        .selected { background: @blue; color: #fff; }
        background: #fff;
        li { border-top: none; }
        ul, li { font-size: 1em; }
    }
    input {
        font-size: 1em;
        padding: 0.5em 0.778em;
    }
    .error {
        input {
            border-color: @red;
        }
    }
    input[type="checkbox"] {
        float: left;
        display: inline-block;
        width: auto;
        margin-top: 1.125em;
    }
    .btn {
        margin-top: 0.5em;
        font-size: 1.556em;
    }
    #mc_embed_signup {
        input.mce_inline_error {
            border-color: @red;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
         div.mce_inline_error {
            background: @red;
        }
    }
    .small-print {
        display: inline-block;
        width: 100%;
        margin-top: 2em;
        font-size: 0.675em;
        color: darken(@line, 50%);
        + .small-print { margin-top: 1em; }
    }
}

.glitter_page_blocktype_contactformblock {
    overflow: hidden;
    padding: 0;
    background: none;
    button[type=submit] { float: right; }
}

.glitter_page_blocktype_billboard {
    width: 100%;
    box-sizing: border-box;
    padding: 1.5em 0.75em 2em 0.75em;
    display: table;
    vertical-align: middle;
    text-align: center;
    position: relative;
    color: #fff;
    overflow: hidden;
    #glitter_column_billboard_top & { overflow: hidden; }
    .side-col & { overflow: hidden; }
    .billboard-content {
        display: table-cell;
        height: 100%;
    }
    &.color:before {
        content: '';
        display: block;
        position: absolute;
        top: -100%; right: 0; bottom: -100%; left: 0;
        z-index: -200;
    }
    &.blue:before { background: @blue; }
    &.red:before { background: @red; }
    &.purple:before { background: @purple; }
    &.dark-green:before { background: @dark-green; }
    &.green:before { background: @green; }
    &.yellow:before { background: @yellow; }
    a { .btn; font-size: 1.125em; }
    h3 { margin: 0.5em 0 0.75em 0; }
    img:not(.bg-img) {
        display: inline-block;
        border-radius: 50%;
        width: 175px;
        height: 175px;
        position: relative;
        overflow: hidden;
        @media all and (max-width: @responsive-lg) {
            width: 135px;
            height: 135px;
        }
    }
    p:last-of-type {
        .btn;
        font-size: 1.125em;
        margin-top: 0.25em;
    }
    @media all and (max-width: @responsive-lg) {
        .billboard-content {
            padding: 4em 2em;
        }
    }
}

.glitter_page_blocktype_bannerblock {
    display: flex;
    flex-flow: row no-wrap;
    justify-content: center;
    a {
        display: inline-block;
        text-align: center;
        padding: 0.75em;
        text-decoration: none;
        color: @dark;
        h3 {
            margin: 0.5em 0 0.75em 0;
        }
        &.with-bg-image {
            color: #fff;
        }
        img {
            display: inline-block;
            border-radius: 50%;
            width: 175px;
            height: 175px;
            position: relative;
            overflow: hidden;
            @media all and (max-width: @responsive-lg) {
                width: 135px;
                height: 135px;
            }
            border: 1px solid darken(@light-grey, 10%);
        }
        p:last-of-type {
            .btn;
            font-size: 1.125em;
            margin-top: 0.25em;
        }
    }
    #glitter_column_sidebar & {
        background: @blue;
        text-align: center;
        a {
            color: #fff;
        }
    }
    body.page #glitter_column_footer & {
        position: relative;
        &:after {
            content: "";
            display: block;
            height: 2px;
            width: calc(100vw ~"-" 55px);
            background: @line;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            -ms-transform: translateX(-50%);
        }
    }
}

.image-banner-grid {
    display: table;
    width: 100%;
    height: 100%;
    overflow: hidden;
    table-layout: fixed;
    body.page & { margin-top: 6em; }
    .glitter_page_blocktype_billboard, .glitter_page_blocktype_bannerblock a {
        padding: 0 1em;
        overflow: visible;
    }
    .glitter_page_blocktype_imageblock {
        width: 100% !important;
        margin-left: 0 !important;

    }
    .column-25, .column-50, .column-75 {
        display: table-cell;
        vertical-align: middle;
        overflow: hidden;
        position: relative;
    }

    img {
        width: 100%;
        vertical-align: top;
    }
    @media all and (max-width: @responsive-lg) {
        display: block;
        .column-25, .column-50, .column-75 {
            display: block;
        }
        .column-25 {
            width: 100%;
            float: left;
            .glitter_page_blocktype_imageblock {
                width: 50% !important;
                float: left;
            }
            .half-height {
                width: 50%;
                float: left;
            }
        }
        .column-50 {
            width: 100%;
        }
        .glitter_page_blocktype_bannerblock a {
            padding: 6em 4em;
        }
    }
    @media all and (max-width: @responsive-sm) {
        .column-25 {
            .glitter_page_blocktype_imageblock {
                width: 100% !important;
            }
        }
    }
}

.glitter-active ~ .image-banner-grid {
    .column-25, .column-50, .column-75 {
        vertical-align: top;
    }
}

.intro-blocks {
    display: table;
    width: 100%;
    p {
        font-size: 1.125em;
        margin-bottom: 1.75em;
    }
    .column-50 {
        display: table-cell;
        max-height: 640px;
        padding: 5vw;
        box-sizing: border-box;
        text-align: center;
        vertical-align: middle;
        float: none;
        &:last-of-type {
            background: @light-grey;
        }
    }
    @media all and (max-width: @responsive-md) {
        .column-50 {
            display: block;
            width: 100%;
            height: auto;
            padding: 4em 2em;
            &:first-of-type {
                margin-top: 4em;
            }
        }
    }
    @media all and (max-width: @responsive-xs) {
        .column-50 {
            max-height: none;
            padding: 2em 1em;
            .glitter_page_blocktype_redactor { margin: 0; }
        }
    }
}

#glitter_column_footer, #glitter_column_billboard_middle {
    .glitter_page_blocktype_bannerblock {
        overflow: hidden;
        margin-top: 5em;
        margin: 0 auto 0 auto;
        padding: 2em 0 2em 0;
        width: 100%;
        max-width: 85em;
        a {
            width: 25%;
            box-sizing: border-box;
            &:not(:first-of-type) {
                border-left: 2px solid @line;
            }
        }
        @media all and (max-width: @responsive-lg) {
            box-sizing: border-box;
            display: block;
            padding: 2em 20px 2em 20px;
            a {
                display: block;
                width: 50%;
                float: left;
                padding: 4em 2em;
                &:not(:first-of-type) {
                    border: none;
                }
                &:nth-of-type(2n) {
                    &:not(:first-of-type) {
                        border-left: 2px solid @line;
                    }
                }
                &:nth-of-type(-n+2) {
                    border-bottom: 2px solid @line;
                }
                &:nth-of-type(3):last-of-type {
                    width: 100%;
                }
            }
        }
        @media all and (max-width: @responsive-sm){
            a {
                width: 100%;
                border: none !important;
                &:not(:last-of-type) {
                    border-bottom: 2px solid @line !important;
                }
            }
        }
        @media all and (max-width: @responsive-xs){
            a { padding: 2em 1em; }
        }
    }
}

//////////////////////    FOOT        /////////////////////

.foot {
    overflow: hidden;
    background: @light-grey;
    padding: 0 20px 2em 20px;
    body.home & .subscription-block { border-top: 2px solid @line; }
    p {
        margin: 0;
        display: inline-block;
    }
    ul:not(.social-icons) {
        .remove-list-style;
        li {
            display: inline-block;
            a {
                display: inline-block;
                text-decoration: none;
                color: @dark;
            }
            &:not(:first-of-type) {
                margin-left: 2em;
            }
        }
    }
    p, ul:not(.social-icons) {
        padding-top: 1.25em;
        font-size: 0.875em;
    }
    .company-information {
        width: 100%;
        overflow: hidden;
        text-align: center;
        padding: 1.25em 0 1.25em 0;
        border-top: 2px solid @line;
        position: relative;
        a:hover { color: @red; }
        @media all and (min-width: (@responsive-lg + 1)) {
            .social-icons {
                position: absolute;
                top: 1.75em;
                left: 50%;
                transform: translateX(-50%);
                -ms-transform: translateX(-50%);
            }
        }
        @media all and (max-width: @responsive-lg) {
            padding-top: 2.5em;
        }
    }
    @media all and (max-width: @responsive-lg) {
        .pull-left, .pull-right {
            float: none;
            text-align: center;
        }
        a { font-weight: bold; }
    }
}

//////////////////////    NEWS        /////////////////////

.list-title {
    padding-bottom: 0.3em;
    border-bottom: 4px solid @light-grey;
}

.post {
    overflow: hidden;
    .post-list-title {
        margin: 0;
        line-height: 1;
        a {
            color: inherit;
            text-decoration: none;
        }
    }
    h5 {
        font-size: 1em;
        margin: 0.5em 0;
        color: lighten(@dark, 30%);
        a { color: inherit; }
    }
    .post-summary a {
        color: @blue;
        font-weight: bold;
        text-decoration: none;
        &:hover { color: lighten(@blue, 5%); }
    }
    + .post {
        border-top: 2px solid @light-grey;
        margin-top: 2em;
        padding-top: 2em;
    }
    #news-list & {
        .post-summary { margin-bottom: 0; }
    }
    body.two-col & {
        &.with-image {
            .post-image {
                width: 120px;
                height: auto;
                float: left;
                margin-bottom: 0;
            }
            .details {
                width: calc(100% ~"-" 120px);
                box-sizing: border-box;
                padding-left: 1em;
                float: right;
                :last-child { margin-bottom: 0; }
            }
            @media all and (max-width: @responsive-md) {
                .post-image { width: 80px; }
                .details { width: calc(100% ~"-" 80px); }
            }
             @media all and (max-width: @responsive-xs) {
                .post-image { display: none; }
                .details { width: 100%; padding-left: 0; }
            }
        }
    }
}

.news-detail, #news-list {
    @media all and (min-width: (@responsive-xl + 1)) {
        margin-bottom: 4em;
    }
}

.news-categories {
    box-sizing: border-box;
    .form;
    a {
        color: @blue;
        font-weight: bold;
        text-decoration: none;
    }
    @media all and (max-width: @responsive-xl) {
        border-bottom: 2px solid @line;
    }
}

.news-detail {
    margin-bottom: 4em;
    h3 {
        font-size: 2.5em;
        margin-bottom: 0.5em;
        a {
            color: inherit;
            text-decoration: none;
        }
    }
    img {
        width: 100%;
        height: auto;
    }
}

.pagination {
    margin-top: 2em;
    border-top: 2px solid @light-grey;
    padding-top: 1em;
    text-align: center;
    a, .active {
        color: @blue;
        font-weight: bold;
        text-decoration: none;
    }
    .back { float: left; }
    .next { float: right; }
    .disabled {
        color: @line;
        &:hover { cursor: default; }
    }
}

.glitter_page_blocktype_latestnewsblock {
    overflow: hidden;
    max-width: 42.5em;
    margin: auto;
    .list-title a { color: @dark; text-decoration: none; }
    .block {
        width: 100%;
        overflow: hidden;
        box-sizing: border-box;
        .img-link {
            float: left;
            img { width: 120px; height: auto; }
        }
        .with-image .details {
            float: left;
            width: calc(100% ~"-" 120px);
            box-sizing: border-box;
            padding-left: 1em;
        }
        + .block {
            margin-top: 2em;
            padding-top: 2em;
            border-top: 2px solid @light-grey;
        }
        @media all and (max-width: @responsive-md) {
            .img-link img { width: 80px; }
            .with-image .details { width: calc(100% ~"-" 80px); }
        }
         @media all and (max-width: @responsive-xs) {
            .img-link img { display: none; }
            .with-image .details { width: 100%; padding-left: 0; }
        }
    }
}



//////////////////////    MODAL        /////////////////////

.modal-open {
    overflow: hidden;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: fade(#000, 80%);
    z-index: 2000000;
    text-align: center;
    &#donate-modal {
        animation: fade-in 0.3s;
        p:last-of-type {
            font-size: 1.25em;
            a { text-decoration: none; font-weight: bold; color: @red; }
        }
    }
}

.modal-backdrop {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20001;
    background-color: black;
}

.modal-dialog {
    display: inline-block;
    background: white;
    padding: 2em;
    box-shadow: 0.5em 0.5em 1em rgba(0,0,0,0.5);
    min-width: 300px;
    max-width: 600px;
    width: 80vw;
    .absolute-center;
    .ctrlHolder.checkbox input {
        float: left;
        width: auto;
        margin-right: 0.5em;
        margin-top: 0.25em;
    }
    #div_id_no_updates_email { margin-bottom: 1em; }
    legend {
        font-size: 2em;
        font-weight: bold;
        line-height: 1.15;
        margin: 0.15em 0 0 0;
        width: 100%;
        text-align: center;
    }
    label { text-align: left; }
    fieldset { border: none; }
    h1 { margin: 0.15em 0 0 0; line-height: 1.15;}
    label, input { width: 100%; }
    label {
        display: block;
        margin: 0.75em 0 0.25em 0.778em;
        font-weight: bold;
    }
    .close {
        float: right;
        background: none;
        font-size: 13px;
        line-height: 31px;
        font-weight: bold;
        text-decoration: underline;
        border: none;
        padding: 0;
    }
    .donate-button, .button {
        appearance: none;
        border: none;
        font-size: 0.9em;
    }
    .donate-button {
        width: calc(50% ~"-" 0.45em);
        float: left;
        &:first-of-type { margin-right: 0.85em; }
    }
    .numberinput {
        margin-bottom: 0.85em;
        padding-left: 1.575em;
    }
    #div_id_amount {
        position: relative;
        &:before {
            content: '$';
            display: inline-block;
            font-size: 1.25em;
            position: absolute;
            bottom: 1.45em;
            left: 1em;
        }
    }
}

div.cartodb-popup.header div.cartodb-popup-header h1 { text-shadow: none !important; }
div.cartodb-popup.header.blue div.cartodb-popup-header span.separator { background: none !important; }

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes marquee {
    from { transform: translateX(0);}
    to { transform: translateX(-100%);}
}

.glitter_page_blocktype_imageblock figcaption {
  text-align: center
}
