<div class="subscription-block">
    <form action="https://t1international.us9.list-manage.com/subscribe/post?u=c9a67765c954bcaf494f4dae7&amp;id=254921aef9" method="POST" target="_blank">
        <h3>Stay up to date with T1<em>Informed</em></h3>

        <div style="position: absolute; left: -5000px;">
            <input name="b_c9a67765c954bcaf494f4dae7_254921aef9" tabindex="-1" value="" type="text">
        </div>
        <div id="minimised-form" class="hidden">
            <input type="text" name="MERGE1" placeholder="First" required>
            <input type="text" name="MERGE2" placeholder="Last" required>
        </div>
        <input type="email" name="EMAIL" placeholder="Email address" class="form-toggle" onfocus="document.getElementById('minimised-form').className = '';" required>
        <input type="submit" value="Subscribe">
    </form>
</div>

<div class="company-information">
    <ul class="social-icons">
        <li><a href="https://www.facebook.com/t1international" class="facebook" target="_blank"></a></li>
        <li><a href="https://twitter.com/t1international" class="twitter" target="_blank"></a></li>
        <li><a href="https://www.instagram.com/t1international/" class="instagram" target="_blank"></a></li>
        <li><a href="https://www.linkedin.com/company/t1international" class="linkedin" target="_blank"></a></li>
        <li><a href="https://www.youtube.com/user/T1InternationalVideo" class="youtube" target="_blank"></a></li>
    </ul>
    <div class="foot-nav pull-right">
        <ul>
            {% for link in footer_links %}
                <li><a href="{{ link.link }}">{{ link.title }}</a></li>
            {% endfor %}
            <li><a href="https://www.blanc.ltd.uk/">Site by Blanc</a></li>
        </ul>
    </div>
    <div class="legal pull-left">
        <p>&copy; {% now "Y" %} T1International is a registered charity in England and Wales (1168249).</p>
    </div>
</div>
