<div class="subscription-block">
    <form>
        <h3>Stay up to date with T1<em>Informed</em></h3>
        <div id="minimised-form" class="hidden">
            <input type="text" placeholder="First" required>
            <input type="text" placeholder="Last" required>
        </div>
        <input type="email" placeholder="Email address" class="form-toggle" onfocus="document.getElementById('minimised-form').className = '';" required>
        <input type="submit" value="Subscribe">
    </form>
</div>

<div class="company-information">
    <ul class="social-icons">
        <li><a href="#" class="facebook"></a></li>
        <li><a href="#" class="twitter"></a></li>
        <li><a href="#" class="instagram"></a></li>
        <li><a href="#" class="linkedin"></a></li>
        <li><a href="#" class="youtube"></a></li>
    </ul>
    <div class="foot-nav pull-right">
        <ul>
            {% for link in footer_links %}
                <li><a href="{{ link.link }}">{{ link.title }}</a></li>
            {% endfor %}
            <li><a href="https://www.blanc.ltd.uk/">Site by Blanc</a></li>
        </ul>
    </div>
    <div class="legal pull-left">
        <p>&copy; 2016 T1International, registered charity #116774</p>
    </div>
</div>
