{% extends "base.html" %}


{% block title %}{{ glitter.obj.title }} - {{ block.super }}{% endblock %}

{% block body_class %}home{% endblock body_class %}

{% block main %}
    <div class="jumbotron">
        {{ columns.billboard_top }}
        <div class="donation-panel">
            <h3>Please donate...</h3>
            <form>
                <ul>
                    <li><a href="#" data-toggle="modal" data-target="#donate-modal" data-amount="10">£10</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#donate-modal" data-amount="25">£25</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#donate-modal" data-amount="50">£50</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#donate-modal"></a></li>
                </ul>
                <input type="submit" class="hidden">
            </form>
        </div>
    </div>

    <div class="intro-blocks">
        <div class="column-50">
            {{ columns.intro_half_one }}
        </div>
        <div class="column-50">
            {{ columns.intro_half_two }}
        </div>
    </div>

    <div class="image-banner-grid">
        <div class="column-25">
            {{ columns.grid_cell_one }}
        </div>
        <div class="column-50">
            {{ columns.grid_cell_two }}
        </div>
        <div class="column-25">
            {{ columns.grid_cell_three }}
        </div>
    </div>
    <div class="image-banner-grid">
        <div class="column-50">
            {{ columns.grid_cell_four }}
        </div>
        <div class="column-25">
            {{ columns.grid_cell_five }}
        </div>
        <div class="column-25">
            {{ columns.grid_cell_six }}
        </div>
    </div>

    {{ columns.content }}

    {{ columns.footer }}

{% endblock main %}
