{% extends "base.html" %}


{% block title %}{{ glitter.obj.title }} - {{ block.super }}{% endblock %}

{% block main %}
    <div class="jumbotron">
        {{ columns.billboard_top }}
        <div class="donation-panel">
            <h3>Please donate...</h3>
            <form>
                <ul>
                    <li>
                        <label for="donate-10">£10</label>
                        <input type="checkbox" id="donate-10" class="hidden">
                    </li>
                    <li>
                        <label for="donate-25">£25</label>
                        <input type="checkbox" id="donate-25" class="hidden">
                    </li>
                    <li>
                        <label for="donate-50">£50</label>
                        <input type="checkbox" id="donate-50" class="hidden">
                    </li>
                    <li>
                        <input type="text" id="donate-10" class="hidden">
                    </li>
                </ul>
                <input type="submit" class="hidden">
            </form>
        </div>
    </div>

    <div class="intro-blocks">
        <div class="column-50">
            {{ columns.intro_half_one }}
        </div>
        <div class="column-50">
            {{ columns.intro_half_two }}
        </div>
    </div>

    {{ columns.content }}

    {{ columns.footer }}

{% endblock main %}
