{% extends "glitter/base.html" %}


{% block body_class %}page two-col{% endblock body_class %}

{% block main %}
    <div class="jumbotron">
        {{ columns.billboard_top }}
    </div>

    <div class="page-wrapper">
        <div class="content-col">
            {{ columns.content }}

            <div class="faq-block">
                <ul>
                    <li>
                        <label for="faq1">What countries do you support or work with?</label>
                        <input type="checkbox" id="faq1" class="hidden">
                        <p class="hidden">To us, affordable means that the cost of buying that item does not impact your ability to pay for other essentials like food, shelter or education. A health condition should not be a threat to your survival.</p>
                        <div class="status"></div>
                    </li>
                    <li>
                        <label for="faq2">What do you mean by ‘affordable’ access?</label>
                        <input type="checkbox" id="faq2" class="hidden">
                        <p class="hidden">To us, affordable means that the cost of buying that item does not impact your ability to pay for other essentials like food, shelter or education. A health condition should not be a threat to your survival.</p>
                        <div class="status"></div>
                    </li>
                    <li>
                        <label for="faq3">What about people with type 2 diabetes?</label>
                        <input type="checkbox" id="faq3" class="hidden">
                        <p class="hidden">To us, affordable means that the cost of buying that item does not impact your ability to pay for other essentials like food, shelter or education. A health condition should not be a threat to your survival.</p>
                        <div class="status"></div>
                    </li>
                    <li>
                        <label for="faq4">Can I send my extra insulin and diabetes supplies to T1International to support those in need?</label>
                        <input type="checkbox" id="faq4" class="hidden">
                        <p class="hidden">To us, affordable means that the cost of buying that item does not impact your ability to pay for other essentials like food, shelter or education. A health condition should not be a threat to your survival.</p>
                        <div class="status"></div>
                    </li>
                    <li>
                        <label for="faq5">Can T1International help me get my insulin and diabetes supplies?</label>
                        <input type="checkbox" id="faq5" class="hidden">
                        <p class="hidden">To us, affordable means that the cost of buying that item does not impact your ability to pay for other essentials like food, shelter or education. A health condition should not be a threat to your survival.</p>
                        <div class="status"></div>
                    </li>
                    <li>
                        <label for="faq6">What about people with other health conditions?</label>
                        <input type="checkbox" id="faq6" class="hidden">
                        <p class="hidden">To us, affordable means that the cost of buying that item does not impact your ability to pay for other essentials like food, shelter or education. A health condition should not be a threat to your survival.</p>
                        <div class="status"></div>
                    </li>
                </ul>
            </div>


        </div>

        <div class="side-col">
            {{ columns.sidebar }}
        </div>
    </div>

    {{ columns.footer }}
{% endblock main %}