<!DOCTYPE html>

{% load staticfiles %}
{% load glitter %}
{% load t1_navigation %}

<html lang="en">
    <head>
        {% glitter_head %}

        <title>{% block title %}{{ request.site.name }}{% endblock %}</title>
        <link href="{% static 'css/styles.min.css' %}" rel="stylesheet" />

        {# NOTE: Remove IE conditional comments if you're using Modernizr for more than the html5shiv #}
        <!--[if lt IE 9]>
            <script src="{% static 'js/modernizr.js' %}"></script>
        <![endif]-->
    </head>
    <body class="{% block body_class %}{% endblock %}">
        {% glitter_startbody %}

        <header class="head">
            {% include "includes/header.html" %}
            {% block primary_navigation %}
                {% primary_navigation page=glitter.obj css_class="primary pull-right2" %}
            {% endblock primary_navigation %}

            {% block secondary_navigation %}
                {% secondary_navigation page=glitter.obj %}
            {% endblock secondary_navigation %}

            {% block mobile_navigation %}
                {% tree_navigation page=glitter.obj max_depth=1 css_class="mobile" %}
            {% endblock mobile_navigation %}
        </header>

        {% block main %}{% endblock %}

        <footer class="foot">
            {% include "includes/footer.html" %}
        </footer>
    </body>
</html>
