<!DOCTYPE html>

{% load staticfiles %}
{% load glitter %}
{% load t1_navigation %}
{% load crispy_forms_tags %}
{% load donate_tags %}

<html lang="en">
    <head>
        {% glitter_head %}

        <title>{% block title %}{{ request.site.name }}{% endblock %}</title>
        <link href="{% static 'css/styles.min.css' %}" rel="stylesheet" />
        <link rel="icon" href="/favicon.png" type="image/png">

        <link rel="alternate" type="application/rss+xml" title="T1International" href="{% url 'glitter-news:feed' %}" />
        {% block endhead %}{% endblock %}

        <!--[if lt IE 9]>
            <script src="{% static 'js/modernizr.js' %}"></script>
        <![endif]-->
    </head>
    <body class="{% block body_class %}{% endblock %}">
        {% glitter_startbody %}

        <header class="head">
            <a href="/"><div class="logo pull-left"></div></a>
            <input type="checkbox" name="primary-nav" class="hidden" id="primary-nav" />
            <label for="primary-nav"></label>
            <a href="#" class="btn small" data-toggle="modal" data-target="#donate-modal">Donate</a>
            {% block primary_navigation %}
                {% primary_navigation page=glitter.obj %}
            {% endblock primary_navigation %}

            {% block mobile_navigation %}
                {% tree_navigation page=glitter.obj max_depth=1 css_class="mobile" %}
            {% endblock mobile_navigation %}
            <div class="clear-fix"></div>
        </header>

        {% block secondary_navigation %}
            {% secondary_navigation page=glitter.obj %}
        {% endblock secondary_navigation %}

        {% block main %}{% endblock %}

        <footer class="foot">
            {% include "includes/footer.html" %}
        </footer>

        <script src="{% static 'admin/js/jquery.min.js' %}"></script>
        <script src="{% static 'js/tab.js' %}"></script>
        <script src="{% static 'js/jquery.selectric.min.js' %}"></script>
        <script src="{% static 'js/transition.js' %}"></script>
        <script src="{% static 'js/modal.js' %}"></script>
        <script src="{% static 'js/donate.js' %}"></script>
        <script>
            /* global $ */
            $().ready(function() {
                "use strict";

                $(".selectric").selectric();
            });
        </script>

        <div id="donate-modal" class="modal fade">
            <div id="donate-dialog" class="hidden">
                <div class="modal-dialog">
                    {% get_donate_form as donate_form %}
                    {% crispy donate_form %}

                    <p>UK donor? <a href="https://mydonate.bt.com/donation/donate.html?charity=t1international" target="_blank">Click here</a> to donate with gift aid.</p>
                </div>
            </div>
        </div>

        <form id="donation-complete-form" method="POST" action="" style="display:none;">
            {% csrf_token %}
            {% get_complete_form as complete_form %}
            {{ complete_form.as_p }}
        </form>
    </body>
</html>
